*{
    box-sizing: border-box;
/*    border: 1px solid red;*/
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(
        to right,
        rgb(114, 198, 231),
        rgb(191, 222, 235)
    );
    display: flex;
}


.calculator{
    width: 60vh;
    border-radius: 20px;
    margin: 0 auto;
    background-color: white;
}

.brown_color{
    margin: 0;
    padding: 8px 0;
    border-radius: 20px 20px 0 0;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    background: rgb(53, 14, 14);
    color: white;
}

form{
    margin: 0 15px;
}

label{
    display: block;
    margin: 20px 0 10px 0;
}

input{
    padding: 6px 10px;
    font-size: 14px;
    border-top: 2px gray solid;
    border-right: 1px rgb(212, 210, 210) solid;
    border-left: 2px solid gray;
    border-bottom: 1px rgb(212, 210, 210) solid;
}

form>p{
    font-size: 18px;
}

#sharing{
    width: 65%;
}

select{
    width: 90%;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    margin-left: 10%;
    border: 1px solid rgb(212, 210, 210);
}

select:hover{
    border-color: skyblue;
}

button{
    background-color: rgb(136, 25, 25);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 40px;
    margin: 30px auto 0 auto;
    display: block;
}
