*{
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(16, 38, 63);
    margin: 0;
    padding-top: 40px;
    width: 100%;
}

.first_section{
    margin: 0;
    padding: 0;
}

.style_conference{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.style_conference a{
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;    
}

.text{
    line-height: 44px;
    font-size: 48px;
    letter-spacing: .5px;
}

.style_conference h3{
    display: inline-block;
    position: absolute;
    margin: 20px 20px 20px 180px;    
    top: 60px;
    right: 12%;
    color: rgb(141, 158, 175);
    font-size: 20px;
    font-weight: lighter;
}

.style_conference nav{
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    position: relative;
    width: 60%;
    float: right;
    top: 10px;
}

.style_conference ul{
    margin: 10px 0 0 10px;
    position: relative;
    width: 75%;
    float: right;
}

.style_conference li{
    display: inline-block;
    margin-right: 0px;
    margin-left: 18px;
}

.second_section{
    margin: 0;
    padding: 20px 0 40px 0;
    background: linear-gradient(
        to right, rgb(138, 184, 138), rgb(252, 252, 217)
    );
}

.second_section h1{
    color: rgb(73, 99, 85);
    font-weight: lighter;
    font-size: 38px;
    text-align: center;
}

.second_section p{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    padding: 5px 0;
    color: slategrey;
}

.third_section{
    margin: 0;
    padding-bottom: 40px;
}

.speaker h1, h2, p{
    margin-left: 24%;
}

.speaker{
    display: inline-block;
    width: 60%;
    position: relative;
}

.speaker h1{
    color: slategray;
    font-weight: lighter;
    font-size: 28px;
    padding-top: 50px;
}

.speaker h2{
    color: lightslategray;
    font-weight: lighter;
    font-size: 14px;
    text-transform: uppercase;
}

.speaker p{
    color: rgb(104, 99, 99);
    font-size: 18px;
}

.inline{
    width: 100%;
    margin: 0;
    padding: 0;
}

.image_section{
    width: 40%;
    float: right;
}

figure{
    margin-top: 20%;
}

.image_section img{
    margin-left: 33%;
    position: relative;
    
}

.image_section figcaption{
    border: 1px solid rgb(191, 196, 201);
    margin: -20% 20% 0 20%;
    border-radius: 5px;
}

.image_section p{
    text-align: center;
    margin-left: 0;
    padding-top: 30%;
    padding-bottom: 5%;
}

.image_section a{
    padding: 5px;
    color: rgb(106, 118, 129);
    text-decoration: none;
    font-size: 18px;
}

.image_section a:hover{
    color: rgb(191, 197, 204);
}

.footer{
    background-color: rgb(16, 38, 63);
    margin: 0;
    padding: 40px 0;
    width: 100%;
}

.fourth_section{
    width: 100%;
}

.fourth_section p{
    color: rgb(75, 88, 100);
    text-align: center;
    width: 55%;
    display: inline-block;
    margin-left: 0;
}

.fourth_section ul{
    list-style: none;
    width: 45%;
    float: right;
}

.fourth_section li{
    display: inline-block;
}

.fourth_section li>a{
    text-decoration: none;
    margin-left: 25px;
    color: white;
}
